<div>
  <div class="tab">
    <button class="tablinks active" id="homeBtn" (click)="testing('Home', 'homeBtn')">Home</button>
    <button class="tablinks" id="profBtn" (click)="testing('Professional', 'profBtn')">Professional Expereinces</button>
    <button class="tablinks" id="educationBtn" (click)="testing('Education', 'educationBtn')">Education</button>
    <button class="tablinks" id="contactBtn" (click)="testing('Contact', 'contactBtn')">Contact</button>
  </div>

  <div id="Home" class="tabcontent homeTab">
    <div class="homePage">
      <div class="heading">
        <div class="heading-text">
          Hi,
        </div>
        <div class="heading-text">
          I'm Jennifer Corzo,
        </div>
        <div class="heading-text">
          a Front End Developer turned Project Manager
        </div>
      </div>

      <div class="homeData">
        <div class="square"></div>

        <div class="aboutMe header">About Me: </div>
        <p class="aboutMeText">
          Hi, I’m Jennifer Corzo, a front end developer with a passion for designing and creating new things.

          I am a recent graduate from the University of Maryland with a degree in Computer Science and a minor
          in Technology Entrepreneurship.
          Since graduating, I have gained experience as a UI developer, where I have enhanced my technical skiils, l
          earned new technologies, lead innovation efforts, and expanded my network.
        </p>

        <div class="programmingLangs">Programming Languages: </div>
        <p class="programmingLangsText">HTML, CSS, JS, familair with Angular 10, Java</p>

        <div class="programmingLangs">Other Technical Skills: </div>
        <p class="programmingLangsText">Git, Bitbucket, JIRA, VS Code, Agile Methodologies, ADA (Web Accessibilty)</p>
      </div>
    </div>

  </div>

  <div id="Professional" class="tabcontent">
    <div class="flexRow">
      <div class="work">
        <div class="workHeading header">Work Expereince:</div>
        <div class="companyNames">
          Bank of America
          <span class="workDates">July 2021 - Present</span>
        </div>
        <ul>
          <li>Responsible for developing and optimizing components and services, using Angular, to improve user experiences</li>
          <li>Work closely with designers and product owners to develop user interface for internal bank application</li>
          <li>Ensure all delivered code is ADA compliant through carefully written HTML and CSS, following web accessibilty guidelines</li>
          <li>Contributed to the creation of reusable ADA compliant library to streamline UI development</li>
          <li>Implement code quality with SonarCube</li>
          <li>Participated in Bank Innovation Days with leadership teams, which lead to the filing of three patents</li> 
          <li>Act as mentor for interns and recent graduates joining the Bank</li>     
          <li>Utilize HTML, CSS, Typescript, Angular 10, Git, Bitbucket, JIRA, VS Code, JAWS</li>
        </ul>
        
        <ul>
          <li><b>Honors/Awards: </b>Patent Pending (3)</li>
        </ul>
      </div>
      <div class="internship">
        <div class="header internshipHeader">Internships: </div>
        <div>
          <div class="companyNames">
            Bank of America
            <span class="workDates">June 2020 - August 2020</span>
          </div>
          <ul>
            <li>Created a component style guide to allow for uniformity across company applications using HTML and CSS</li>
            <li>Collaborated with other interns to create an ATM forecasting model using Python and existing resources</li>
          </ul>
        </div>

        <div>
          <div class="companyNames">
            American Express 
            <span class="workDates">June 2018 - August 2018</span>
          </div>
          <ul>
              <li>Designed and developed a self-service user interface to allow employees to share third party data from team to team more easily and safely</li>
              <li>Utilized JavaScript, HTML, CSS, and limited React</li>
            </ul>
        </div>

        <div>
          <div class="companyNames">
            United Data Technologies
            <span class="workDates">June 2019 - August 2019</span>
          </div>
          <ul>
              <li>Assisted with setting up and enforcing multi-factor authentication</li>
              <li>Shadowed members of cloud and security teams during scrum meetings and projects</li>
            </ul>
          </div>
      </div>
    </div>


  </div>

  <div id="Education" class="tabcontent edu">
    <div class="umd">
      <div class="eduHeading header">University of Maryland</div>
      <div class="eduSpacing eduData">Bachelor of Science in Computer Scinece</div>
      <div class="eduSpacing eduData">Minor in Technlogy Entrepreneurship</div>
    </div>
    <div class="involvement">
      <h4 class="eduSpacing header">Involvements: </h4>
        <div class="eduSpacing">
          <div class="eduSubHeading">FIRE Research Program</div>
          <a class="links" href="https://www.fire.umd.edu/">FIRE</a>
          <p class="eduData">FIRE is the First-Year Innovation and Research Experience at the University of Maryland. 
            My research focused on incorporating new technologies into museums, in order to improve customer 
            experience. My goal was to see how bluetooth beacons could be integrated into The Phillips Collection 
            Modern Art Museum in Washington, DC. Throughout my research I utilized JavaScript, C, Andriod Studio, 
            and Gimbal Bluetooth Beacons.
          </p>
        </div>
        <div class="eduSpacing">
          <div class="eduSubHeading" >Kappa Theta Pi - Professional Technology Fraternity</div>
          <a class="links" href="https://ktpumd.com/">KTP</a>
          <p class="eduData">I am a brother of Kappa Theta Pi, a professional co-ed technology fraternity. The goal of the fraternity 
            is to create bonds between students who share a common love for technology, as well as allow students to 
            grow technically and professionally. I have held leadership positions through KTP as pledge class president
             of the Gamma class and as Director of Standards. My roles as president include coordinating pledge class 
             study hours, ensuring all members of my pledge class are abiding by all rules, and coordinating all new 
             member activities. As Director of Standards, I oversee all matters related to standards and policies of 
             the chapter.
          </p>
        </div>
        <div class="eduSpacing">
          <div class="eduSubHeading">Peer Mentor</div>
          <a class="links" href="https://cmns.umd.edu/peermentors">CMNS Peer Mentors</a>
          <p class="eduData">I am a peer mentor within the College of Computer, Math, and Natural Sciences. As a peer mentor I act 
            as a Teaching Assistant for an Introduction to University Studies course. I assist students with 4-year 
            plans and operate as a front desk student worker. I am also a CMNS student recruitment ambassador. As an 
            ambassador I inform prospective students about studying CS at UMD and assist with student panels.
          </p>
        </div>
        <div class="eduSpacing">
          <div class="eduSubHeading">Student Ambassador</div>
          <a class="links" href="https://cmns.umd.edu/undergraduate/admissions/recruitment-ambassadors">CMNS Recruitment Ambassadors</a>
          <p class="eduData">As a student ambassador I frequently connected with prospective students, to help them learn more about UMD and the College of 
            Computer, Math, and Natural Sciences. I participated in student panels and information tables at admissions open houses.
          </p>
        </div>
        <div class="eduSpacing">
            <div class="eduSubHeading">Grace Hopper Celebration Scholarship Recipient 2019 & 2020</div>
            <a class="links" href="https://ghc.anitab.org/">GHC</a>
          <p class="eduData">I am so grateful to have had the opportunity to attend the Grace Hopper Celebration 2019! The Grace
             Hopper Celebration is one of the world's largest confrences for Women in technology. It was so 
             inspiring to be surrounded by over 25,000 amazingly talented women, who are changing the face of 
             technology everyday! From being mentored by software engineers and having meaningful conversations
              with recruiters, to finding lifelong friendships, GHC exceded my expectations! I am looking forward
              to the first ever virtual Grace Hopper Celebration 2020!
          </p>
        </div>
        <div class="eduSpacing">
          <div class="eduSubHeading">Study Abroad: Maryland-in-Rome</div>
          <a class="links" href="https://parmonline.food.blog/">Italian Cuisine Blog</a>
          <p class="eduData">During the summer of 2019, I had the opportunity to study abroad in Rome, Italy. Throughout my time
             in Rome, I discovered, dined at, and reviewed restaurants in Italy, participated in cooking classes,
            documented the history of traditional ingredients and dishes, all while exploring a new culture and
            way of life. I am so lucky to have had such an amazing experience! Please feel free to check out 
            my blog to find out some of the interesting facts that I learned about Italian cuisine while in Rome.
          </p>
        </div>
    </div>
  </div>
  <div id="Contact" class="tabcontent contact">
    <div>
      <i class="fa-brands fa-linkedin scale"></i>
      <a class="links" href="https://www.linkedin.com/in/jencorzo/">https://www.linkedin.com/in/jencorzo/</a>
    </div>
    <div>
      <i class="fa-solid fa-envelope scale"></i>
      <a class="links" href = "mailto: jencorzo20@gmail.com">jencorzo20@gmail.com</a>
    </div>
    <div>
      <i class="fa-solid fa-file scale"></i>
      <a class="links">Resume here</a>
    </div>
  </div>



</div>
